/* styles go here */

.container {
  margin-bottom: 20px;
  padding: 0 12px;
}

.form-ask {
  display: block;
  margin: 10px 0;
}

/* .sub_button {
  margin: 0 20px;
} */

legend + .form-ask {
  margin-top: 6px;
}

[type="date"] {
  padding-top: 0.5px;
}

.regist + .form-ask {
  margin-top: 5px;
}
